body{
	margin: 0;
	font-family:sans-serif;
	background: #fafafa;

}

.form{
	left: 50%;
	top: 98px;
	margin: 0px;
 	width: 350px;
 	height: 500px;		 
 	position: absolute;
 	position: fixed;
 	box-sizing: border-box;
 	box-shadow: 0 30px 40px rgba(0,0,0,.01);
 	background: #fff;
 	border-radius: 10px;
 }
.form h1{
	text-align: center;
	margin: 0;
	padding: 0 0 10px;
	font-size: 20px;
	padding-top: 15px;
}		

 .form p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.form input[type = "text"], [type = "password"]{
  	border:	none;
	border-bottom: 1px solid #000;
    outline: none;
    background: transparent;
    height: 45px;
    color: #000;
    position: relative;
	left: auto;
	right: auto;
	margin-bottom: -5px;
	width: 70%;
}


.form input[type = "submit"]:hover{
cursor: pointer;
background: #fafafa;
color: #000;
}

select [name = "supplier"]{
	width:40%; 
	margin-right: -40px; 
	color: #fff;
	background-color:  #000;
	border-radius: 3px;
}

.usersform option{
	color: #000;
	background-color:  #fff;
}

.usersform {
	position: relative;
	left: 10%;
}

.table table{
position: absolute;
border:2px solid #000;
top: 108px;
 

}

.table th{
border:2px solid #000;	
}
.table td{
border:1px solid #000;	
}

